#currency {
    margin: 1rem auto;
    height: 150rem;
    width: 80%;
  }
  
  .currencycard {
    background-color: #aaa377;
    border: solid #aaa377 2px;
  }
  
  #currency h2 {
    color: #fef4d1;
    font-family: "Roboto", sans-serif;
    font-size: 70px;
    text-align: center;
    padding: 1px 150px 1px 150px;
  }