.usCoins {
  margin: 15px;
  width: 675px;
  height: 400px;
}

#home h2 {
  color: #fef4d1;
  font-family: "Roboto", sans-serif;
  font-size: 65px;
  margin: 15px;
  text-align: justify;
}

#home h3 {
  color: #fef4d1;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin: 15px;
  text-align: justify;
}

#home p {
  color: #fef4d1;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 15px;
  text-align: justify;
}

h2.big {
  line-height: 2;
}

h3.big {
  line-height: 2;
}

p.big {
  line-height: 2;
}

#bronze p {
  line-height: 2;
  color: #bd5d04;
}

#silver p {
  color: #747272;
}

#gold p {
  color: #ffb005;
}
