@media only screen and (max-width: 1000px) {
  #uscoins {
    width: 575px;
    height: 350px;
  }
}

@media only screen and (max-width: 600px) {
  #uscoins {
    width: 465px;
    height: 300px;
  }
}

@media only screen and (max-width: 400px) {
  #uscoins {
    width: 365px;
    height: 240px;
  }
}

.usCoins {
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  width: 725px;
  height: 450px;
  justify-content: center;
}

#home h2 {
  color: #fef4d1;
  font-family: "Roboto", sans-serif;
  font-size: 65px;
  margin: 15px;
  text-align: center;
}

#home h3 {
  color: #fef4d1;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin: 15px;
  text-align: justify;
}

#home p {
  color: #fef4d1;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 15px;
  text-align: justify;
}

h2.big {
  line-height: 2;
}

h3.big {
  line-height: 2;
}

p.big {
  line-height: 2;
}

#bronze p {
  line-height: 2;
  color: #bd5d04;
}

#silver p {
  color: #747272;
}

#gold p {
  color: #ffb005;
}
