.profilePic {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

#accountCard h2 {
  font-family: "Roboto", sans-serif;
  color: #8b8002;
  font-size: 65px;
  text-align: center;
}

h4.big {
  line-height: 2;
}

#accountCard a {
  text-decoration: none;
}
